.mat-divider-on-board {
  width: 100%;
}

.edit-users {
  border-bottom: 1px dotted #000;
  text-decoration: none;
  cursor: pointer;
}

.account-icon {
  font-size: 25px;
  margin-right: 15px;
  cursor: pointer;
}
