  <div class="row">
    <!--<div class="col-md-2">-->
      <!--<form class="example-form">-->
        <!--<mat-form-field>-->
          <!--<input matInput-->
                 <!--placeholder="Project"-->
                 <!--aria-label="Project"-->
                 <!--[matAutocomplete]="autocompleteProject">-->
          <!--&lt;!&ndash;<input matInput placeholder="User" aria-label="User" [matAutocomplete]="auto" [formControl]="stateCtrl">&ndash;&gt;-->
          <!--<mat-autocomplete #autocompleteProject="matAutocomplete">-->
            <!--&lt;!&ndash;<mat-option *ngFor="let project of allProjects" [value]="project.title">{{project.title}}&ndash;&gt;-->
            <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
          <!--</mat-autocomplete>-->
        <!--</mat-form-field>-->
      <!--</form>-->
    <!--</div>-->

    <!--<div class="col-md-2">-->
      <!--<form class="example-form">-->
        <!--<mat-form-field>-->
          <!--<input matInput-->
                 <!--placeholder="Sprint"-->
                 <!--aria-label="Sprint"-->
                 <!--[matAutocomplete]="autocompleteSprint">-->
          <!--&lt;!&ndash;<input matInput placeholder="User" aria-label="User" [matAutocomplete]="auto" [formControl]="stateCtrl">&ndash;&gt;-->
          <!--<mat-autocomplete #autocompleteSprint="matAutocomplete">-->
            <!--<mat-option *ngFor="let sprint of currentProject.sprintList"-->
                        <!--[value]="sprint.sprintNumber">-->
              <!--{{sprint.sprintNumber}}-->
            <!--</mat-option>-->
          <!--</mat-autocomplete>-->
        <!--</mat-form-field>-->
      <!--</form>-->
    <!--</div>-->

    <div class="col-md-2">
      <form class="example-form">
        <mat-form-field>
          <input matInput
                 placeholder="User"
                 aria-label="User"
                 [matAutocomplete]="autocompleteUser"
                 [formControl]="userFilterFormControl">
          <mat-autocomplete #autocompleteUser="matAutocomplete"
                            [displayWith]="displayUserNameFn">
            <mat-option *ngFor="let user of currentProject.userList"
                        [value]="user">
              {{user.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>

  <mat-divider class="menu-divider"></mat-divider>

  <div class="row">
    <div class="col">New</div>
    <div class="col">In Progress</div>
    <div class="col">In Review</div>
    <div class="col">Done</div>
  </div>
  <mat-divider class="menu-divider"></mat-divider>

  <div class="row" *ngIf="userStories === null || userStories.length === 0">
    <div class="col">
      <br/>
      <br/>
      <button mat-raised-button color="primary" (click)="openNewUserStoryDialog()" matTooltip="Add new story">Add new
        user story
      </button>
    </div>
  </div>

  <div class="row" *ngFor="let userStory of userStories">
    <div class="col-sm-3">
      <!--- -------------- userStory if status = New --------------  -->
      <mat-card class="board-item" *ngIf="filterItems(userStory, NEW)">
        <mat-card-header class="board-user-story-header" (click)="openExistingUserStoryDialog(userStory)">
          <mat-card-title>{{(userStory.name.length>25)? (userStory.name | slice:0:25)+'...':(userStory.name)}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="owner">Owner: {{getUserName(userStory.user)}}</div>
          <mat-form-field>
            <mat-select [(value)]="userStory.status" (change)='onUserStoryStatusChange(userStory)'>
              <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>Priority: {{userStory.priority}}</div>
          <div>
            <span>Estimate: {{userStory.estimation}} h</span>
            <span>
              <mat-icon class="add-task-bug" color="link" matTooltip="Delete story" (click)="openRemoveStoryDialog(userStory)">delete_forever</mat-icon>
              <mat-icon class="add-task-bug" color="primary" (click)="openNewUserStoryDialog()" matTooltip="Add new story">add_box</mat-icon>
              <mat-icon class="add-task-bug" color="basic" (click)="openNewTaskDialog(userStory)" matTooltip="Add new task">add_box</mat-icon>
              <mat-icon class="add-task-bug" color="warn" (click)="openNewBugDialog(userStory)" matTooltip="Add new bug">add_box</mat-icon>
            </span>
          </div>

        </mat-card-content>
      </mat-card>
      <!--- -------------- Tasks --------------  -->
      <div *ngFor="let task of userStory.tasks">
        <mat-card class="board-item" *ngIf="filterItems(task, NEW)">
          <mat-card-header class="board-task-header" (click)="openExistingTaskDialog(userStory, task)">
            <mat-card-title>{{(task.name.length>25)? (task.name | slice:0:25)+'...':(task.name)}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="owner">Owner: {{getUserName(task.user)}}</div>
            <mat-form-field>
              <mat-select [(value)]="task.status" (change)='onTaskStatusChange(task, userStory)'>
                <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div>Priority: {{task.priority}}</div>
            <div>
              <span>Estimate: {{userStory.estimation}} h</span>
              <span>
                <mat-icon class="add-task-bug" color="link" matTooltip="Delete task" (click)="openRemoveTaskDialog(task, userStory)">delete_forever</mat-icon>
              </span>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--- -------------- Bugs --------------  -->
      <div *ngFor="let bug of userStory.bugs">
        <mat-card class="board-item" *ngIf="filterItems(bug, NEW)">
          <mat-card-header class="board-bug-header" (click)="openExistingBugDialog(bug, userStory)">
            <mat-card-title>{{(bug.name.length>25)? (bug.name | slice:0:25)+'...':(bug.name)}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="owner">Owner: {{getUserName(bug.user)}}</div>

            <mat-form-field>
              <mat-select [(value)]="bug.status" (change)='onBugStatusChange(bug, userStory)'>
                <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div>Priority: {{bug.priority}}</div>
            <div>
              <span>Estimate: {{bug.estimation}} h</span>
              <span>
                <mat-icon class="add-task-bug" color="link" matTooltip="Delete bug" (click)="openRemoveBugDialog(bug, userStory)">delete_forever</mat-icon>
              </span>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-sm-3">
      <!--- -------------- userStory if status = In Progress --------------  -->
      <mat-card class="board-item" *ngIf="filterItems(userStory, IN_PROGRESS)">
        <mat-card-header class="board-user-story-header" (click)="openExistingUserStoryDialog(userStory)">
          <mat-card-title>{{(userStory.name.length>25)? (userStory.name | slice:0:25)+'...':(userStory.name)}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="owner">Owner: {{getUserName(userStory.user)}}</div>

          <mat-form-field>
            <mat-select [(value)]="userStory.status" (change)='onUserStoryStatusChange(userStory)'>
              <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>Priority: {{userStory.priority}}</div>
          <div>
            <span>Estimate: {{userStory.estimation}} h</span>
            <span>
              <mat-icon class="add-task-bug" color="link" matTooltip="Delete story" (click)="openRemoveStoryDialog(userStory)">delete_forever</mat-icon>
              <mat-icon class="add-task-bug" color="primary" (click)="openNewUserStoryDialog()" matTooltip="Add new story">add_box</mat-icon>
              <mat-icon class="add-task-bug" color="basic" (click)="openNewTaskDialog(userStory)" matTooltip="Add new task">add_box</mat-icon>
              <mat-icon class="add-task-bug" color="warn" (click)="openNewBugDialog(userStory)" matTooltip="Add new bug">add_box</mat-icon>
            </span>
          </div>

        </mat-card-content>
      </mat-card>

      <!--- -------------- Tasks --------------  -->
      <div *ngFor="let task of userStory.tasks">
        <mat-card class="board-item" *ngIf="filterItems(task, IN_PROGRESS)">
          <mat-card-header class="board-task-header" (click)="openExistingTaskDialog(userStory, task)">
          <mat-card-title>{{(task.name.length>25)? (task.name | slice:0:25)+'...':(task.name)}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="owner">Owner: {{getUserName(task.user)}}</div>
            <mat-form-field>
              <mat-select [(value)]="task.status" (change)='onTaskStatusChange(task, userStory)'>
                <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div>Priority: {{task.priority}}</div>
            <div>
              <span>Estimate: {{task.estimation}} h</span>
              <span>
                <mat-icon class="add-task-bug" color="link" matTooltip="Delete task" (click)="openRemoveTaskDialog(task, userStory)">delete_forever</mat-icon>
              </span>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--- -------------- Bugs --------------  -->
      <div *ngFor="let bug of userStory.bugs">
        <mat-card class="board-item" *ngIf="filterItems(bug, IN_PROGRESS)">
          <mat-card-header class="board-bug-header" (click)="openExistingBugDialog(bug, userStory)">
            <mat-card-title>{{(bug.name.length>25)? (bug.name | slice:0:25)+'...':(bug.name)}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="owner">Owner: {{getUserName(bug.user)}}</div>

            <mat-form-field>
              <mat-select [(value)]="bug.status" (change)='onBugStatusChange(bug, userStory)'>
                <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div>Priority: {{bug.priority}}</div>
            <div>
              <span>Estimate: {{bug.estimation}} h</span>
              <span>
                <mat-icon class="add-task-bug" color="link" matTooltip="Delete bug" (click)="openRemoveBugDialog(bug, userStory)">delete_forever</mat-icon>
              </span>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-sm-3">
      <!--- -------------- userStory if status = In Review --------------  -->
      <mat-card class="board-item" *ngIf="filterItems(userStory, IN_REVIEW)">
        <mat-card-header class="board-user-story-header" (click)="openExistingUserStoryDialog(userStory)">
          <mat-card-title>{{(userStory.name.length>25)? (userStory.name | slice:0:25)+'...':(userStory.name)}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="owner">Owner: {{getUserName(userStory.user)}}</div>

          <mat-form-field>
            <mat-select [(value)]="userStory.status" (change)='onUserStoryStatusChange(userStory)'>
              <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>Priority: {{userStory.priority}}</div>
          <div>
            <span>Estimate: {{userStory.estimation}} h</span>
            <span>
              <mat-icon class="add-task-bug" color="link" matTooltip="Delete story" (click)="openRemoveStoryDialog(userStory)">delete_forever</mat-icon>
              <mat-icon class="add-task-bug" color="primary" (click)="openNewUserStoryDialog()" matTooltip="Add new story">add_box</mat-icon>
              <mat-icon class="add-task-bug" color="basic" (click)="openNewTaskDialog(userStory)" matTooltip="Add new task">add_box</mat-icon>
              <mat-icon class="add-task-bug" color="warn" (click)="openNewBugDialog(userStory)" matTooltip="Add new bug">add_box</mat-icon>
            </span>
          </div>

        </mat-card-content>
      </mat-card>

      <!--- -------------- Tasks --------------  -->
      <div *ngFor="let task of userStory.tasks">
        <mat-card class="board-item" *ngIf="filterItems(task, IN_REVIEW)">
          <mat-card-header class="board-task-header" (click)="openExistingTaskDialog(userStory, task)">
          <mat-card-title>{{(task.name.length>25)? (task.name | slice:0:25)+'...':(task.name)}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="owner">Owner: {{getUserName(task.user)}}</div>
            <mat-form-field>
              <mat-select [(value)]="task.status" (change)='onTaskStatusChange(task, userStory)'>
                <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div>Priority: {{task.priority}}</div>
            <div>
              <span>Estimate: {{task.estimation}} h</span>
              <span>
                <mat-icon class="add-task-bug" color="link" matTooltip="Delete task" (click)="openRemoveTaskDialog(task, userStory)">delete_forever</mat-icon>
              </span>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--- -------------- Bugs --------------  -->
      <div *ngFor="let bug of userStory.bugs">
        <mat-card class="board-item" *ngIf="filterItems(bug, IN_REVIEW)">
          <mat-card-header class="board-bug-header" (click)="openExistingBugDialog(bug, userStory)">
            <mat-card-title>{{(bug.name.length>25)? (bug.name | slice:0:25)+'...':(bug.name)}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="owner">Owner: {{getUserName(bug.user)}}</div>

            <mat-form-field>
              <mat-select [(value)]="bug.status" (change)='onBugStatusChange(bug, userStory)'>
                <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div>Priority: {{bug.priority}}</div>
            <div>
              <span>Estimate: {{bug.estimation}} h</span>
              <span>
                <mat-icon class="add-task-bug" color="link" matTooltip="Delete bug" (click)="openRemoveBugDialog(bug, userStory)">delete_forever</mat-icon>
              </span>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

    </div>

    <div class="col-sm-3">
      <!--- -------------- userStory if status = Done --------------  -->
      <mat-card class="board-item" *ngIf="filterItems(userStory, DONE)">
        <mat-card-header class="board-user-story-header" (click)="openExistingUserStoryDialog(userStory)">
          <mat-card-title>{{(userStory.name.length>25)? (userStory.name | slice:0:25)+'...':(userStory.name)}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="owner">Owner: {{getUserName(userStory.user)}}</div>

          <mat-form-field>
            <mat-select [(value)]="userStory.status" (change)='onUserStoryStatusChange(userStory)'>
              <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>Priority: {{userStory.priority}}</div>
          <div>
            <span>Estimate: {{userStory.estimation}} h</span>
            <span>
              <mat-icon class="add-task-bug" color="link" matTooltip="Delete story" (click)="openRemoveStoryDialog(userStory)">delete_forever</mat-icon>
              <mat-icon class="add-task-bug" color="primary" (click)="openNewUserStoryDialog()" matTooltip="Add new story">add_box</mat-icon>
              <mat-icon class="add-task-bug" color="basic" (click)="openNewTaskDialog(userStory)" matTooltip="Add new task">add_box</mat-icon>
              <mat-icon class="add-task-bug" color="warn" (click)="openNewBugDialog(userStory)" matTooltip="Add new bug">add_box</mat-icon>
            </span>
          </div>

        </mat-card-content>
      </mat-card>

      <!--- -------------- Tasks --------------  -->
      <div *ngFor="let task of userStory.tasks">
        <mat-card class="board-item" *ngIf="filterItems(task, DONE)">
          <mat-card-header class="board-task-header" (click)="openExistingTaskDialog(userStory, task)">
          <mat-card-title>{{(task.name.length>25)? (task.name | slice:0:25)+'...':(task.name)}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="owner">Owner: {{getUserName(task.user)}}</div>
            <mat-form-field>
              <mat-select [(value)]="task.status" (change)='onTaskStatusChange(task, userStory)'>
                <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div>Priority: {{task.priority}}</div>
            <div>
              <span>Estimate: {{task.estimation}} h</span>
              <span>
                <mat-icon class="add-task-bug" color="link" matTooltip="Delete task" (click)="openRemoveTaskDialog(task, userStory)">delete_forever</mat-icon>
              </span>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--- -------------- Bugs --------------  -->
      <div *ngFor="let bug of userStory.bugs">
        <mat-card class="board-item" *ngIf="filterItems(bug, DONE)">
          <mat-card-header class="board-bug-header" (click)="openExistingBugDialog(bug, userStory)">
            <mat-card-title>{{(bug.name.length>25)? (bug.name | slice:0:25)+'...':(bug.name)}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="owner">Owner: {{getUserName(bug.user)}}</div>

            <mat-form-field>
              <mat-select [(value)]="bug.status" (change)='onBugStatusChange(bug, userStory)'>
                <mat-option *ngFor="let status of statusList" value={{status}}>{{status}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div>Priority: {{bug.priority}}</div>
            <div>
              <span>Estimate: {{bug.estimation}} h</span>
              <span>
                <mat-icon class="add-task-bug" color="link" matTooltip="Delete bug" (click)="openRemoveBugDialog(bug, userStory)">delete_forever</mat-icon>
              </span>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

    </div>
    <mat-divider class="mat-divider-on-board"></mat-divider>
  </div>
