<!--<div [formGroup]="data.organizationForm">-->
  <!--<mat-form-field class='project-dialog-input'>-->
    <!--<input matInput-->
           <!--placeholder='Name'-->
           <!--formControlName='name'>-->
    <!--<span *ngIf="!data.organizationForm.get('name').valid && data.organizationForm.get('name').touched"-->
          <!--class="help-block"> Please enter a valid name-->
  <!--</span>-->
  <!--</mat-form-field>-->

  <!--<div mat-dialog-content class='project-dialog-content'>-->
    <!--<mat-form-field class='project-dialog-input-textarea'>-->
      <!--<textarea matInput-->
                <!--class='project-dialog-input-textarea'-->
                <!--placeholder='Description'-->
                <!--formControlName='description'-->
                <!--matTextareaAutosize matAutosizeMinRows="2"-->
                <!--matAutosizeMaxRows="5"></textarea>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<mat-select multiple placeholder="Users" formControlName='users'>-->
        <!--<mat-option aria-multiselectable="true"-->
                    <!--*ngFor="let user of data.allTheUsers"-->
                    <!--[value]="user">-->
          <!--{{user.name}}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
  <!--</div>-->

  <!--<div mat-dialog-actions>-->
    <!--<div style="float: left; width: 90%">-->
      <!--<button mat-raised-button (click)='onNoClick()'>Cancel</button>-->
      <!--<button mat-raised-button color="primary" [mat-dialog-close]='data'>Save</button>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div style="float: right; width: 10%">&ndash;&gt;-->
    <!--&lt;!&ndash;<button mat-raised-button color="warn" (click)='deleteProject(data)' *ngIf='!data.isNew'>Delete&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
