<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title><h3>Available projects:</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="project-list">
      <div *ngFor="let project of allProjects">
        <div class="edit-project">
          <a routerLink="/project/{{project.id}}" routerLinkActive="active"> {{ project.title }} </a>
        </div>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="openNewProjectDialog()" matTooltip="Add new project">Add new
      project
    </button>
  </mat-card-content>
</mat-card>
