.dashboard-card {
  max-width: 400px;
  width: 50%;
  max-height:400px;
  height: 50%;
  margin: 10% auto auto;
}

.easytracking-logo {
  margin: auto auto 10px;
}

.edit-project {
  display: inline;
  padding-right: 5px;
  font-size: 17px;
}

.project-list {
  margin-bottom: 30px;
}
